{% extends 'layout_sign/base.html' %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
    <h1 class='TitleLogitPage'>Выйти из аккаунта?</h1>
    {% url 'account_logout' as action_url %}
    {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
        <div class="ButtonWrapperLogOut">
          <div class="button ButtonBackLoginPage">
            <a href="/">Назад</a>
          </div>
          <button class="ButtonNextLoginPage" type="submit" tags="prominent,login">
            Выйти
          </button>
        </div>
        {% endslot %}
    {% endelement %}
{% endblock content %}
