{% extends 'layout/base.html' %}
<link rel="shortcut icon" type="image/png" href="/static/logoo.png"/>
{% block title %}
Главная
{% endblock title %}

{% block content %}
<div class='HubVideoWrapper'>
  <h1>Спасибо что выбераете нас!</h1>
  <video class="HubVideo" controls="controls" width="1100px">
    <source src="/static/video/wow.mp4">
  </video>
  <p class="HubVideoText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio aliquid libero beatae dignissimos fugit maiores delectus nostrum quod magnam veritatis aperiam excepturi aut, error optio quas earum debitis praesentium quos!
  Iure similique eius velit labore hic quam officiis minus ea porro ducimus laboriosam, animi exercitationem voluptas illum at vitae perferendis ipsum consectetur eligendi corporis vel nam? Quidem expedita natus explicabo.
  Rem alias numquam sit quaerat doloribus, velit nulla ex veniam id impedit repellat consequatur. Possimus vel explicabo soluta repellendus nobis ea sed? Nulla totam architecto nostrum vitae quasi voluptatem! Odio.0</p>
</div>



<h1 class="HubTitle text-center">Главная</h1>
{% if HubAllNews %}
 <form class="FilterForm" method="GET">
  {{ filter.form }}
  <input type='submit' class="btn btn-primary FilterFornButton" value="Найти">
 </form>

{% for news in HubAllNews %}
<div class="PostWrapper">
  <div class="PostContentWrapper">
  <tr>
    <td> 
      <a href="{% url 'taverna:news_detail' news.id %}"><image class='PostImage' src="{{ news.image.url }}"></image></a>
    </td>
    <div class="PostContentWrapper2">
      <div class="PostAuthorRatingWrapper">
        <td>
          <a href="" class="PostAuthor">{{ news.author }}</a>
        </td>
        <td>
          <h1 class="PostRating">{{ news.post_rating }}</h1>
        </td>
      </div>
      <div class="PostTitleTextWrapper">
        <td> 
          <a class='PostTitle' href="{% url 'taverna:news_detail' news.id %}">
            {{ news.title }}
          </a>
        </td>
        <td>
          <p class="PostText">{{ news.text|truncatechars:200 }}</p>
        </td>
      </div>
      <div class="PostCategoryWrapper">
        {% for category in news.category.all %}
          {% if category.category == 'TR' %}
            <a class="PostCategoryObj CategoryRT" href="?title=&post_rating=&author=&cat=TR">{{category}}</a>
          {% elif category.category == 'BL' %}
            <a class="PostCategoryObj CategoryBL" href="?title=&post_rating=&author=&cat=BL">{{category}}</a>
          {% elif category.category == 'TN' %}
            <a class="PostCategoryObj CategoryTN" href="?title=&post_rating=&author=&cat=TN">{{category}}</a>
          {% elif category.category == 'QG' %}
            <a class="PostCategoryObj CategoryQG" href="?title=&post_rating=&author=&cat=QG">{{category}}</a>
          {% elif category.category == 'TA' %}
            <a class="PostCategoryObj CategoryTA" href="?title=&post_rating=&author=&cat=TA">{{category}}</a>
          {% elif category.category == 'DD' %}
            <a class="PostCategoryObj CategoryDD" href="?title=&post_rating=&author=&cat=DD">{{category}}</a>
          {% elif category.category == 'EV' %}
            <a class="PostCategoryObj CategoryEV" href="?title=&post_rating=&author=&cat=EV">{{category}}</a>
          {% elif category.category == 'HE' %}
            <a class="PostCategoryObj CategoryHE" href="?title=&post_rating=&author=&cat=HE">{{category}}</a>
          {% elif category.category == 'GU' %}
            <a class="PostCategoryObj CategoryGU" href="?title=&post_rating=&author=&cat=GU">{{category}}</a>
          {% elif category.category == 'SM' %}
            <a class="PostCategoryObj CategorySM" href="?title=&post_rating=&author=&cat=SM">{{category}}</a>
          {% elif category.category == 'PM' %}
            <a class="PostCategoryObj CategoryPM" href="?title=&post_rating=&author=&cat=PM">{{category}}</a>
          {% elif category.category == 'GM' %}
            <a class="PostCategoryObj CategoryGM" href="?title=&post_rating=&author=&cat=GM">{{category}}</a>
          {% else %}
            <a class="PostCategoryObj" href="">{{category}}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="PostToolsWrapper">
    <td>
      <h4 class="PostTimeIn">{{ news.time_in|date:'M d Y' }}</h4>
    </td>
    <td>
      <div class=" PostTools">
        <a class="PostToolsObj" href="">Update</a>
        <a class="PostToolsObj" href="">Detele</a>
      </div>
    </td>
  </div>
  </tr>
</div>

{% endfor%}
<div class="PaginatorWrapper">
{% include 'taverna/parts/paginator.html' %}
</div>
{% else %}
<h1>Пока новостей нет.</h1>
{% endif %}


{% endblock content %}