{% extends 'layout/base.html' %}

{% block title %}
{{ news.title }}
{% endblock title %}

{% block content %}
<div class="buttonBack">
  <a href="/">Назад</a>
</div>
  {% if news %}
  <div class="newsWrapper">
    <h1 class="news_title"><strong>{{ news.title }}</strong></h1>
    <a class="news_img" href="{% url 'taverna:news_detail' news.id %}"><image class='PostImage' src="{{ news.image.url }}"></image></a>
    <p class="news_text">{{ news.text }}</p>
    <h4 class="news_category">
      {% for category in news.category.all %}
      {% if category.category == 'TR' %}
        <a class="PostCategoryObj CategoryRT" href="?title=&post_rating=&author=&cat=TR">{{category}}</a>
      {% elif category.category == 'BL' %}
        <a class="PostCategoryObj CategoryBL" href="?title=&post_rating=&author=&cat=BL">{{category}}</a>
      {% elif category.category == 'TN' %}
        <a class="PostCategoryObj CategoryTN" href="?title=&post_rating=&author=&cat=TN">{{category}}</a>
      {% elif category.category == 'QG' %}
        <a class="PostCategoryObj CategoryQG" href="?title=&post_rating=&author=&cat=QG">{{category}}</a>
      {% elif category.category == 'TA' %}
        <a class="PostCategoryObj CategoryTA" href="?title=&post_rating=&author=&cat=TA">{{category}}</a>
      {% elif category.category == 'DD' %}
        <a class="PostCategoryObj CategoryDD" href="?title=&post_rating=&author=&cat=DD">{{category}}</a>
      {% elif category.category == 'EV' %}
        <a class="PostCategoryObj CategoryEV" href="?title=&post_rating=&author=&cat=EV">{{category}}</a>
      {% elif category.category == 'HE' %}
        <a class="PostCategoryObj CategoryHE" href="?title=&post_rating=&author=&cat=HE">{{category}}</a>
      {% elif category.category == 'GU' %}
        <a class="PostCategoryObj CategoryGU" href="?title=&post_rating=&author=&cat=GU">{{category}}</a>
      {% elif category.category == 'SM' %}
        <a class="PostCategoryObj CategorySM" href="?title=&post_rating=&author=&cat=SM">{{category}}</a>
      {% elif category.category == 'PM' %}
        <a class="PostCategoryObj CategoryPM" href="?title=&post_rating=&author=&cat=PM">{{category}}</a>
      {% elif category.category == 'GM' %}
        <a class="PostCategoryObj CategoryGM" href="?title=&post_rating=&author=&cat=GM">{{category}}</a>
      {% else %}
        <a class="PostCategoryObj" href="">{{category}}</a>
      {% endif %}
    {% endfor %}
    </h4>
    <div class="NewsTimeAndAuthorWrapper">
      <h4 class="news_time_in">{{news.time_in }}</h4>
      <div class="NewsAuthorRatingWrapper">
        <h4 class="news_author">{{news.author}}({{news.author.user.username}})</h4>
        <h1 class="PostRating">{{ news.post_rating }}</h1>
      </div>
    </div>
  </div>
  {% else %}
    <h2>Такой новости нет.</h2>
  {% endif %}
{% endblock content %}