{% extends "layout/base.html" %}

{% block content %}
<div class="ProfileContentWrapper">
  <h2 id="ProfileTitle">
  Страница авторизованного пользователя {{request.user.username}}
  </h2>
  <!-- {% include 'account/parts/logo_choice.html' %} -->
  <div class="ProfileGroup">
    {% if is_not_author %}
    <a class="btn btn-info" href="{% url 'taverna:upgrade' %}">Хочу стать автором!</a>
    {% else %}
    <h2>Группа: "Авторы"</h2>
    {% endif %}
  </div>

  <h2 class="ProfilePostsCount">
    Постов созданных сегодня: {{posts_on_this_day}} из 3
  </h2>

  <div class="ProfileAuthorReplys">
    <h1 class="PorofileH1">Отклики на ваши посты</h1>
    <form class="FilterForm" method="GET">
      {{ filter.form }}
      <input type='submit' class="btn btn-primary FilterFornButton" value="Найти">
    </form>
    {% if ProfileReplys %}
      {% for reply in ProfileReplys %}
          <div class="replyWrapper">
            <div class="replyTitleAuthor">
              <a href="{% url 'taverna:news_detail' reply.post.id %}" class="replyPostTitle">{{reply.post.title}}</a>
              <h2 class="replyPostAuthor" href="">{{reply.reply.user}}</h2>
            </div>
            <p class="replyReplyText">{{reply.reply.text}}</p>
            <div class="replyProdileButtons">
              <a class="btn btn-3 replyProdileAplyButtons" href="">Принять</a>
              <a class="btn btn-3" href="{% url 'taverna:unreply' reply.pk %}">Отклонить</a>
            </div>
          </div>
      {% endfor %}
    {% else %}
      <h1 style="width: 100%; text-align: center;">Тут ничего нет</h1>
    {% endif %}
  </div>


  <!-- <div class="AlertSubscibeButton">
    {% if is_not_subscriber %}
      <a class="btn btn-info" href="{#% url 'taverna:subscribe_me' %#}">Подписаться на рассылки!</a>
    {% else %}
      <h3>Вы подписаты на рыссылку.</h3>
    {% endif %}
  </div> -->
<!-- </div>
{% if subscribed %}
  <div id="categories-prifile">
    <h3>Категории на которые вы подписаны:</h3>
  {% for category in categories %}
    <a class="categories btn news-category-btn" href="{% url 'taverna:category_unsubscribe' category.category.pk %}"><h4>{{category.category}}</h4></a>
  {% endfor %}
</div> -->
{% else %}
{% endif %}

{% endblock content %}